<div class="containers">
  <!-- Seção de Introdução -->
  <div class="position-relative">
    <div class="img-fluid w-100" style="height: 400px; overflow: hidden;">
      <img
        src="../../../../../assets/img/img_home/Banner-Perfil-Linkedin.png"
        alt="Imagem de Homem"
        class="w-100 h-100 object-fit-cover"
      />
      <!-- Sobreposição Escura -->
      <div
        class="overlay position-absolute top-0 start-0 w-100 h-100"
        style="background-color: rgba(0, 0, 0, 0.6);"
      ></div>
      <!-- Texto sobre a imagem -->
      <div
        class="text-overlay position-absolute top-50 start-50 translate-middle text-center text-white"
        style="z-index: 1;"
      >
        <h1 class="fw-bold mb-3">
          Walison Braga - Desenvolvedor Web e de Aplicativos
        </h1>
        <p id="text-subtitle" class="fw-medium mb-3 text-white-50">
          Buscando oportunidades desafiadoras na área de desenvolvimento de
          software, com foco em desenvolvimento web e de aplicativos utilizando
          o framework Angular
        </p>
        <div class="download mt-3">
          <a
            class="link-offset-2 link-underline link-underline-opacity-0"
            href="../../../../../assets/pdf/Curriculo_Walison_Braga.pdf"
            download
          >
            <button class="btn btn-primary text-white fw-bold">
              <i class="bi bi-download"></i>
              Ver Currículo
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div
    id="color-professional-experience"
    class="container-fluid py-5"
    style="background-color: black;"
  >
    <div class="row justify-content-center align-items-center">
      <!-- Imagem -->
      <div class="col-md-4 col-12 mb-3 d-flex justify-content-center">
        <img
          id="img-professional-experience"
          src="assets/img/img_home/img_experience.jpg"
          alt="Imagem da Empresa 1"
          class="img-fluid rounded-4"
        />
      </div>

      <!-- Texto da Experiência -->
      <div class="col-md-4 col-12 text-center text-md-start">
        <h2 class="text-white mb-4 fw-bold">
          Experiência Profissional
        </h2>
        <div class="numbered-list text-white">
          <p id="professional-experience" class="mb-2">
            1. Suporte de T.I - Oncoradium Rede Onco (Abr de 2024 - Presente)
          </p>
          <p id="professional-experience" class="mb-2">
            2. Analista Administrativo - Jakson B.Jeronimo (Jun de 2023 - Mar de
            2024)
          </p>
          <p id="professional-experience" class="mb-2">
            3. Analista de Suporte Técnico - Thomas Greg and Sons (Set de 2022 -
            Fev de 2023)
          </p>
          <p id="professional-experience">
            4. Estagiário de Suporte Técnico - Fundação de Cultura e Comunicação
            Elias Mansour (Mar de 2022 - Set de 2022)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
